* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

html{
    font-size: 0.5rem;
    width: 90%;
}

h1{
    color:#041C0D;
    background-color: #65A67D;
    width: 50%;
}

main{
    font-size: 2rem;
    width: 50%;
    background-color: aliceblue;
}

#one {
    color: #65A67D;
}

p {
    background-color: aquamarine;
    font-size: 0.5em;
    width:20ch;
}